<%- include('header'); -%>
 <form method="POST" action="/api/login">
     
     <br>
     <label>Username</label>
     <input type="text" name="username" placeholder="Please enter your username">
     <br>
     <br>
     <label>Password</label>
     <input type="password" name="password" placeholder="Please enter your password">
     <br>
     <br>
     <button> Submit </button>
     <br>

 </form>
<%- include('footer'); -%>